* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none !important;
}

body{
  background-color:#1F1F1F !important ;
}
